* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfe2fd;
}

.game-wrapper {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "counter btn"
        "field field";
    max-width: 800px;
    margin: 10px auto;
    padding: 0 20px;
}

.counter {
    grid-area: counter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    margin-right: auto;

    // .counter__item
    &__item {
        display: flex;
        gap: 10px;
    }

    // .counter__text
    &__text {
        color: #5003ff;
    }

    // .counter__num
    &__num {
        color: #e52589;
    }
}

.btn-reload {
    grid-area: btn;
    font-weight: 700;
    color: #9d00d8;
    background-color: #e1dde9;
    outline: none;
    border: 2px solid #ceabd9;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 30px;
    margin-left: auto;

    // .btn-reload:hover
    &:hover {
        background-color: #eee5ff;
    }

    // .btn-reload:active
    &:active {
        box-shadow: 1px 1px 10px #ceabd9;
    }
}

.field {
    grid-area: field;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 10px auto 0;

    @media (min-width: 500px) and (min-height: 500px) {
        width: 500px;
        height: 500px;
    }

    @media (min-width: 700px) and (min-height: 700px) {
        width: 700px;
        height: 700px;
    }
}

.field-item {
    width: 40px;
    height: 40px;
    border: 1px solid #ccd3da;
    background-color: #ada4be;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    @media (min-width: 500px) and (min-height: 500px) {
        width: 50px;
        height: 50px;
    }

    @media (min-width: 700px) and (min-height: 700px) {
        width: 70px;
        height: 70px;
    }

    // .field-item__text
    &__text {
        display: none;
    }

    // .field-item--open
    &--open {
        background-color: #bbb6c0;
        pointer-events: none;

        //  .field-item--open .field-item__text
        .field-item__text {
            display: block;
        }

        // .field-item--open[value="mine"]
        &[value="mine"] {
            background-image: url("./assets/image/boom.jpg");
            background-size: cover;
        }

        // .field-item--open[value="1"]
        &[value="1"] {
            color: #314c63;
        }

        // .field-item--open[value="2"]
        &[value="2"] {
            color: #fae000;
        }

        // .field-item--open[value="3"]
        &[value="3"] {
            color: #47fa00;
        }

        // .field-item--open[value="4"]
        &[value="4"] {
            color: #a400ff;
        }

        // .field-item--open[value="5"]
        &[value="5"] {
            color: #0004fa;
        }

        // .field-item--open[value="6"]
        &[value="6"] {
            color: #fa7900;
        }

        // .field-item--open[value="7"]
        &[value="7"] {
            color: #fa00d9;
        }

        // .field-item--open[value="8"]
        &[value="8"] {
            color: #e61717;
        }
    }

    // .field-item:not(.field-item--open):hover
    &:not(.field__item--open):hover {
        background-color: #c6badc;
        cursor: pointer;
    }

    // .field-item--flag
    &--flag {
        background-image: url("./assets/image/flag.jpg");
    }
}

.result {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(#cfe2fd, 0.5);
    color: #5500f3;
    font-weight: 700;
    font-size: 30px;
    display: none;
    align-items: center;
    justify-content: center;

    // .result__text
    &__text {
        padding: 30px 50px;
        box-shadow: 0px 0px 10px #5500f3;
    }

    // .result--open
    &--open {
        display: flex;
    }
}
